.register{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

background: linear-gradient(135deg, #7b2cff, #b347ff);color:white;
}

/* top */

.top{
text-align:center;
margin-bottom:20px;
}

.top h1{
margin:0;
font-size:28px;
}

.top p{
opacity:0.8;
}

/* card */

.card{
background:white;
color:#333;
padding:30px;
border-radius:12px;
width:90%;
max-width:500px;

box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.card h2{
margin-bottom:20px;
}

/* inputs */

.row{
display:flex;
gap:10px;
}

.inputBox{
display:flex;
align-items:center;
background:#f1f1f1;
padding:10px;
border-radius:8px;
margin-bottom:15px;
flex:1;
}

.inputBox input{
border:none;
outline:none;
background:transparent;
width:100%;
padding-left:10px;
}

.icon{
color:#7a2cff;
}

/* checkbox */

.check{
display:flex;
gap:10px;
font-size:13px;
margin-bottom:15px;
}

/* button */

.btn{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:linear-gradient(135deg,#7a2cff,#a855f7);
color:white;
font-size:16px;
cursor:pointer;
}

.btn:hover{
opacity:0.9;
}

/* login */

.login{
text-align:center;
margin-top:10px;
font-size:14px;
}

.login span{
color:#7a2cff;
cursor:pointer;
}

/* footer */

.footer{
margin-top:20px;
font-size:12px;
opacity:0.8;
}

/* responsive */

@media(max-width:600px){

.row{
flex-direction:column;
}

}