.header{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 40px;

background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.1);

position:sticky;
top:0;
z-index:999;

}

.logo{
font-size:22px;
font-weight:bold;
color:#7a2cff !important;

}

.nav{

display:flex;
align-items:center;
gap:30px;

}

.nav a{

text-decoration:none;
color:#333;
font-weight:500;

}

.navButtons{
align-items: center;
display:flex;
gap:15px;

}
.connectionBtn{
border:2px solid #7a2cff;
padding:10px 20px;
border-radius:8px;
color:#7a2cff;
text-decoration:none;
font-weight:500;
transition:0.3s;
display:flex;
align-items:center;
gap:8px;
}

.connectionBtn:hover{
background:#7a2cff;
color:white;
transform: scale(1.05);
}

.connectionBtn:hover{
background:#7a2cff;
color:white;
}


/* menu icon */

.menuIcon{
display:none;
font-size:22px;
cursor:pointer;
}

/* MOBILE */

@media (max-width:768px){

.nav{

position:absolute;
top:70px;
left:0;
width:100%;

background:white;

flex-direction:column;
padding:30px;

transform:translateY(-200%);
transition:0.4s;

}

.nav.active{
transform:translateY(0);
}

.menuIcon{
display:block;
}

}