.footer{

background:#0f172a;
color:white;

padding:60px 20px 20px;

}

.footerContainer{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:30px;

max-width:1200px;
margin:auto;

}

.footerCol h3{

color:#a855f7;

}

.footerCol h4{

margin-bottom:10px;

}

.footerCol p{

color:#cbd5e1;
margin:5px 0;

}

.copyright{

text-align:center;
margin-top:40px;
color:#94a3b8;

}